<!DOCTYPE html>
<html>
  <head>
    <title>Will I get a ticket?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/classy.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <img src="/img/police.png" id="hat"/>
    <p>
      <button type="button" id="big-button" class="btn btn-large btn-primary">Will I get a ticket?</button>
    </p>

    <p id="description"></p>
    <ul id="results"></ul>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  <script type="application/javascript">
    function load_tickets(position) {
      $.ajax({
        url: "/where/" + position.coords.latitude + "/" + position.coords.longitude
      }).success(function(data) {
        $("#description").empty();
        $("#description").append("Within " + data.range + " meters, there have been " + data.count + " tickets issued around this time of day.");

        $.each(data.tickets, function(idx, ticket) {
          $("#results").append("<li>On " + (new Date(ticket.datetime)).toDateString() + ", a " + ticket.vehiclemake + " " + ticket.vehiclemodel + " was given a " + ticket.violation + "</li>");
        });
      });
    }

    function error(p) {
      alert("Bad things have happened! "+ p.message);
    }

    $("#big-button").click(function() {
      navigator.geolocation.getCurrentPosition(
        load_tickets, error);
    });
  </script>
</html>
